<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Database</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Book Database</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <button id='logout' class='btn-no-style'>logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        <a href="/signup">Create Account</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  {{#if loggedIn}}
  <script src='/javascript/logout.js'></script>
  {{/if}}
</body>
</html>