<aside>
    <form id="add-book-form">
        <div>
            <label for="title">Title</label>
            <input type="text" id="book-title">
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="book-author">
        </div>
        <div>
            <label for="year-completed">Year Completed</label>
            <input type="number" id="year-completed">
        </div>
        <div>
            <button type="submit">Add Book</button>
        </div>    
    </form>
</aside>
<ul class="book-list">
    {{#each books}}
    <li>
        <article>
            <div>
                <span>"{{title}}"</span>
                <span>By: {{author}}</span>
                <span>Completed in: {{year_completed}}</span>
            </div>
        </article>
    </li>
    {{/each}}
</ul>
<script src="/javascript/add-book.js"></script>