<form class="signup-form">
    <div>
        <label for="email-signup">Email</label>
        <input type="text" id="email-signup">
    </div>
    <div>
        <label for="signup-signup">Password</label>
        <input type="password" id="password-signup">
    </div>
    <div>
        <button type="submit">Create Account</button>
    </div>    
</form>